user = array('name' => 'tobi')
foo = 42
foo(data-user=user)
foo(data-items=[1,2,3])
foo(data-items={ foo: 'bar', yah: 42, "yoh": "yah: 42", bar :'a\'a"\"\\\'\\\\' })
foo(data-items={ foo: '#{$foo} \#{$foo}', bar: "#{$foo} \#{$foo}" })
foo(data-username='tobi')
foo("data-username"='tobi')
foo('data-username'='tobi')
